/*
Autor: Jorge Marcelo
Data de Criação: 10/08/2023
Github: https://github.com/Jorge-Marcelo
Linkedin: https://www.linkedin.com/in/jorge-marcelo-067a5017b/
Instagram: https://www.instagram.com/10_stronger/
Threads: https://www.threads.net/@10_stronger
*/ 


/*Google Fonts*/
/*Play*/
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


/*Configurações padrão*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-align: center;
transition: all 0.5s ease;
font-family: 'Play', sans-serif;
}

/*Background color*/
body{
background-color: rgb(62, 252, 141);
}

/*Formulario*/
form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 300px;
background-color: rgb(41, 40, 40);
border-radius: 10px;
box-shadow: 0 20px 25px rgba(0,0,0,0.25);
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
padding: 10px;
border: 3px solid rgb(0, 255, 0);
}

/*Container*/
section{
display: flex;
align-items: center;
justify-content: space-between;
margin: 5px;
}

/*Textos*/
h1{
color:rgb(30, 255, 0);
font-size: 1.4em;
font-weight: 900;
margin: 10px;
}


h2{
color:rgb(0, 255, 64);
font-size: 1em;
font-weight: 900;
margin: 5px;
}

label{
font-size: 1em;
font-weight: 900;
color: rgb(9, 255, 0);
width: 220px;
}

/*input*/
input{
border-radius: 10px;
background:transparent;
border: 2px solid rgb(0, 255, 0);
width: 100%;
height: 30px;
outline: none;
color: rgb(255, 174, 0);
font-size: 1.2em;
margin: 5px;
cursor: pointer;
}

/**/
input[type="range"]{
height: 7px;
-webkit-appearance: none;
appearance: none;
background-color: #48ff00;
outline: none;
}


/*Rodape e redes sociais*/
table{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;
}

button{
margin:  0 7px;
border-radius: 100%;
cursor: pointer;
}

.github{
background: transparent;
border: 2px solid rgb(0, 255, 64);
background-color: white;
}

.github:hover{
background-color: rgb(43, 255, 0);
border: 2px solid rgb(255, 255, 255);
}

.linkedin{
background: transparent;
border: 2px solid rgb(0, 255, 64);
background-color: white;
}

.linkedin:hover{
background-color: rgb(43, 255, 0);
border: 2px solid rgb(255, 255, 255);
}

.instagram{
background: transparent;
border: 2px solid rgb(0, 255, 64);
background-color: white;
}

.instagram:hover{
background-color: rgb(43, 255, 0);
border: 2px solid rgb(255, 255, 255);
}

/*Animação*/
figure{
animation: rotate 3s linear infinite;
}
    
@keyframes rotate {
100%{
transform: rotate(360deg);
}
}
    